<h1>View Director <%= @id %></h1>

<ol>
    <li><%= @name %></li>
    <li><%= @dob %></li>
    <li><%= @bio %></li>
    <li><%= @image %></li>
</ol>
<a href="/"><button>Go back</button></a>
<a href="/directors/<%= @id%>/edit_form">Edit director</a>
<a href="/delete_director/<%= @id %>">Delete director</a>

